<app-comp-b [meeting]="meeting" [student]="student" [emp]="employee" [booking]="booking" [course]="course" [order]="order" [playlist]="playlist" [enrollment]="enrollment" [patientRecord]="patientRecord" [transaction]="transaction" [product]="product" [movie]="movie" [shipment]="shipment" [admission]="admission" [conference]="conference" [invoice]="invoice" [orderNow]="orderNow" [ticket]="ticket" [transactionBank]="transactionBank" [productSell]="productSell" [j]="guestBookLIs" [r]="cart" [restur]="restaurantOrder" [k]="classSchedule" [ecommerceOrder]="ecommerceOrder"></app-comp-b>
<app-comp-c
  [fname]="fname"
  [lname]="lname"
  [age]="age"
  [city]="city"
  [profession]="profession"
  [company]="company"
  [hobby]="hobby"
  [experience]="experience"
  [favLang]="favLang"
  [petName]="petName"
  [petType]="petType"
  [married]="married"
  
  [studentName]="studentName"
  [school]="school"
  [grade]="grade"
  [favSubject]="favSubject"
  [bestFriend]="bestFriend"
  [favSport]="favSport"
  [dream]="dream"
  [city1]="city1"
  [teacherName]="teacherName"
  [marks]="marks"

  [brand]="brand"
  [model]="model"
  [price]="price"
  [color]="color"
  [storage]="storage"
  [camera]="camera"
  [os]="os"
  [owner]="owner"
  [purchaseYear]="purchaseYear"
  [warranty]="warranty"

  [movieName]="movieName"
  [director]="director"
  [releaseYear]="releaseYear"
  [actor]="actor"
  [genre]="genre"
  [rating]="rating"
  [duration]="duration"
  [platform]="platform"
  [favScene]="favScene"

  [traveler]="traveler"
  [country]="country"
  [city2]="city2"
  [days]="days"
  [favPlace]="favPlace"
  [localFood]="localFood"
  [stayHotel]="stayHotel"
  [travelMode]="travelMode"
  [spent]="spent"
  
  [playerName]="playerName"
  [team]="team"
  [runs]="runs"
  [balls]="balls"
  [opponent]="opponent"
  [venue]="venue"
  [matchType]="matchType"
  [result]="result"
  [strikeRate]="strikeRate"

  [author]="author"
  [book]="book"
  [genre1]="genre1"
  [published]="published"
  [copiesSold]="copiesSold"
  [mainCharacter]="mainCharacter"
  [setting]="setting"
  [publisher]="publisher"

  [shopName]="shopName"
  [owner1]="owner1"
  [location]="location"
  [openTime]="openTime"
  [closeTime]="closeTime"
  [bestSelling]="bestSelling"
  [foundedYear]="foundedYear"
  [employees]="employees"
  [rating1]="rating1"

  [trainer]="trainer"
  [gymName]="gymName"
  [experience1]="experience1"
  [specialization]="specialization"
  [location1]="location1"
  [clients]="clients"
  [timing]="timing"
  [rating2]="rating2"

  [restaurant]="restaurant"
  [chef]="chef"
  [cuisine]="cuisine"
  [location2]="location2"
  [signatureDish]="signatureDish"
  [rating3]="rating3"
  [established]="established"
  [branches]="branches"

  [singer]="singer"
  [concertName]="concertName"
  [location4]="location4"
  [date]="date"
  [crowd]="crowd"
  [ticketPrice]="ticketPrice"
  [duration4]="duration4"
  [organizer]="organizer"

  [carBran]="carBran"
  [model1]="model1"
  [owner2]="owner2"
  [range]="range"
  [price2]="price2"
  [battery]="battery"
  [topSpeed]="topSpeed"
  [color4]="color4"

  [teacher]="teacher"
  [subject]="subject"
  [school1]="school1"
  [experience2]="experience2"
  [favTopic]="favTopic"
  [awards]="awards"
  [city4]="city4"

  [employee3]="employee3"
  [designation]="designation"
  [department]="department"
  [company1]="company1"
  [years]="years"
  [city6]="city6"
  [projects]="projects"
  [teamSize]="teamSize"

  [youtuber]="youtuber"
  [subscribers]="subscribers"
  [contentType]="contentType"
  [joinYear]="joinYear"
  [uploads]="uploads"
  [favVideo]="favVideo"
  [vacountry]="vacountry"

  [game]="game"
  [player]="player"
  [rank]="rank"
  [playHours]="playHours"
  [favAgent]="favAgent"
  [bestWeapon]="bestWeapon"
  [region]="region"

  [developer]="developer"
  [stack]="stack"
  [company7]="company7"
  [exp]="exp"
  [favTech]="favTech"
  [projectCount]="projectCount"
  [mentor]="mentor"
  [location7]="location7"

  [photographer]="photographer"
  [camera1]="camera1"
  [specialization1]="specialization1"
  [experience3]="experience3"
  [location3]="location3"
  [awards1]="awards1"
  [clients1]="clients1"

  [chef1]="chef1"
  [show]="show"
  [season]="season"
  [dish]="dish"
  [rank2]="rank2"
  [city7]="city7"
  [fans]="fans"

  [artist]="artist"
  [artStyle]="artStyle"
  [medium]="medium"
  [exhibitions]="exhibitions"
  [awards4]="awards4"
  [city8]="city8"
  [favPiece]="favPiece"

  [doctor]="doctor"
  [specialization3]="specialization3"
  [hospital]="hospital"
  [experience4]="experience4"
  [city9]="city9"
  [patientsPerDay]="patientsPerDay"
  [rating6]="rating6"

  [pilot]="pilot"
  [airline]="airline"
  [experience7]="experience7"
  [aircraft]="aircraft"
  [routes]="routes"
  [flightHours]="flightHours"

  [student1]="student1"
  [university]="university"
  [course5]="course5"
  [semester]="semester"
  [cgpa]="cgpa"
  [project]="project"
  [mentor1]="mentor1"
></app-comp-c>
